.main-post-container{
    margin-top: 500px;
}

.post-head{
    width: 70%;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    /* border: 1px solid #E0E0E0; */
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: #9a9a9a ;
}

.post-start{
    display: flex;
    flex-direction: row;
    width: 35%;
    justify-content: space-between;
}
.post-end{
    display: flex;
    flex-direction: row;
    width: 40%;
    align-items: end;
    justify-content: end;
}

/* background: url(assets/dots-three.svg);
    -moz-appearance: none;
    -webkit-appearance: none; */

.post-end select{
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 5px 8px;
    background-color: #d9d8d8;
    border-radius: 5px;
    border: 1px solid #d9d8d8;
}

.post-end .joinbtn button{
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 5px 8px;
    background-color: rgb(8, 92, 237);
    border: 1px solid rgb(8, 92, 237);
    color: white;
    border-radius: 5px;
}

.post-start .post-btns{
    text-decoration: none;
    margin-top: 30px;
    margin-bottom: 10px;
}

.popup-join-group{
    margin-top: 0px;
}

.post-head-mobile{
    /* display: flex; */
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    padding: 3% 0 0 0;
    display: none;
}

.post-head-mobile h6{
    font-size: 15px;
    margin: 0px;
}

.post-head-mobile select{
    font-size: 12px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: #d9d8d8;
}
@media screen and (max-width: 1100px){
    .post-btns{
        font-size: 14px;
    }
}

@media screen and (max-width: 931px){
    .post-start{
        width: 40%;
    }
}

@media screen and (max-width: 800px){
    .main-post-container{
        margin-top: 65%;
    }
    .post-btns{
        font-size: 13px;
    }
    .post-start{
        width: 43%;
    }
    .post-end .joinbtn button, .post-end select {
        font-size: 11px;
    }
}

@media screen and (max-width: 520px){
    .post-head-mobile{
        padding-top: 7%;
    }
}

@media screen and (max-width: 400px){
    .post-head-mobile{
        padding-top: 10%;
    }
}

@media screen and (max-width: 650px){
    .post-head{
        display: none;
    }
    .post-head-mobile{
        display: flex;
    }
    
}

@media screen and (max-width: 300px){
    .post-head{
        display: none;
    }

    .main-post-container{
        margin-top: 75%;
    }
}